<div class="user-profile" >
    <center>
        <img class="user-img" src="{{profile.imagePath}}">
        <div class="c-name">{{ profile.name }}</div>
        <hr style="width: 77%">
    </center>
    <div class="c-detail">
        <div class="birth">Birth : {{ profile.date }} </div>
        <div class="Home">Home : {{ profile.address }}</div>
        <div class="number">Number : {{ profile.number }}</div>
    </div>
    <hr style="width: 77%">

    <div class="profile-id">Profile : {{ profile.profile }}</div>
</div>